<section class="hero" id="hero">
  <div class="hero__bg">
    <div class="hero__shape hero__shape--1"></div>
    <div class="hero__shape hero__shape--2"></div>
  </div>
  <div class="hero__container">
    <p class="hero__greeting">{{ 'hero.greeting' | translate }}</p>
    <h1 class="hero__name">Karl Scholze</h1>
    <p class="hero__title">{{ 'hero.title' | translate }}</p>
    <p class="hero__subtitle">{{ 'hero.subtitle' | translate }}</p>
    <a href="#contact" class="hero__cta">{{ 'hero.cta' | translate }}</a>
  </div>
</section>
