<section class="about section" id="about">
  <div class="container">
    <h2 class="section-title">{{ 'about.title' | translate }}</h2>
    <div class="about__grid">
      <div class="about__text">
        <p>{{ 'about.text1' | translate }}</p>
        <p>{{ 'about.text2' | translate }}</p>
      </div>
      <div class="about__meta">
        <div class="about__meta-item">
          <span class="about__meta-label">{{ 'about.label.born' | translate }}</span>
          <span class="about__meta-value">1981</span>
        </div>
        <div class="about__meta-item">
          <span class="about__meta-label">{{ 'about.label.location' | translate }}</span>
          <span class="about__meta-value">Berlin, Deutschland</span>
        </div>
        <div class="about__meta-item">
          <span class="about__meta-label">{{ 'about.label.education' | translate }}</span>
          <span class="about__meta-value">Diplom-Informatiker (FH)</span>
        </div>
        <div class="about__meta-item">
          <span class="about__meta-label">{{ 'about.label.languages' | translate }}</span>
          <span class="about__meta-value">{{ 'about.languages' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
